div.page-container {
  flex: 1;
}

.release {
  padding: 5rem 0;
}

.release:nth-of-type(odd) {
  background: #070708;
}

div.carousel.slide {
  height: 100%;
}

div.carousel .carousel-inner {
  height: 100%;
}

div.carousel-item {
  height: 100%;
}
