div.page-container {
  flex: 1;
}

.even-odd-bg {
  padding: 5rem 0;
}

.even-odd-bg:nth-of-type(odd) {
  background: #070708;
}

div.carousel.slide {
  height: 100%;
}

div.carousel .carousel-inner {
  height: 100%;
}

div.carousel-item {
  height: 100%;
}

.lyrics-container {
  font-size: 1rem;
  text-align: center;
  line-height: 1.8rem;
  letter-spacing: 1px;
  white-space: pre-line;
}

.band-about {
  margin-bottom: 6rem;
}

.band-about > p {
  font-size: 1rem !important;
  text-align: justify;
}

b {
  font-weight: 600;
}

blockquote.blockquote {
  text-align: center;
  width: 80%;
  margin: 1rem auto 2rem;
}

blockquote > * {
  font-weight: 400;
  font-size: 0.9rem !important;
}

i {
  font-style: italic;
}

.photo-credit {
  color: #a2a2a2;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.image-skeleton-container {
  position: relative;
  width: 100%;
}

.image-skeleton-container .image-skeleton {
  position: absolute;
  top: -5px;
  left: 0;
  bottom: 0;
  right: 0;
}
