div.page-container {
  flex: 1;
}

.even-odd-bg {
  padding: 5rem 0;
}

.even-odd-bg:nth-of-type(odd) {
  background: #070708;
}

div.carousel.slide {
  height: 100%;
}

div.carousel .carousel-inner {
  height: 100%;
}

div.carousel-item {
  height: 100%;
}

.lyrics-container {
  font-size: 1rem;
  text-align: center;
  line-height: 1.8rem;
  letter-spacing: 1px;
}
